<div class="container-fluid" id="container-fluid" ng-init="vm.getCompanyPagination(0)">
    <div class="content-wrapper">
        <div class="item-container">
            <div class="container">


                <div class="col-md-4">

                    <div class="panel panel-primary panel-primay-left ">
                        <div class="panel-heading panel-left">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#categories">
                                    Sektorler
                                </a>
                            </h4>
                        </div>
                        <div id="sector" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <select class="form-control ajax" ng-model="vm.selectedItemSectorList"
                                        ng-init="vm.selectedItemSectorList=vm.sectorList[0]"
                                        ng-options="item as item.name for item in vm.sectorList"></select>
                            </div>
                        </div>
                    </div>


                    <div class="panel panel-primary panel-primay-left">
                        <div class="panel-heading panel-left">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#categories">
                                    Sehirler
                                </a>
                            </h4>
                        </div>

                        <div id="city" class="panel-collapse collapse in">
                            <div class="panel-body">

                                <select class="form-control ajax" ng-model="vm.selectedItemCityList"
                                        ng-init="vm.selectedItemCityList=vm.cityList[0]"
                                        ng-options="city as city.name for city in vm.cityList"></select>
                            </div>
                        </div>
                    </div>

                    <input type="button" class="btn btn-block btn-success btn-filter-left"
                           ng-click="vm.getFilteredCompany(0,vm.selectedItemCityList.name,vm.selectedItemSectorList.name)"
                           value="Sec">


                    <div ng-if="vm.isAuthed() && vm.favoredList.length>0 ">
                        <h5><span class="label label-warning"> Favoriye eklenen son 10 firma</span></h5>

                        <div style="margin-top:10px"
                             ng-repeat="favored in vm.favoredList | limitTo:10| orderBy:'time':true">
                            <div class="panel panel-danger">
                                <div class="panel-heading">
                                    <h3 class="panel-title">
                                        {{favored.name}}</h3>
                                    <button type="submit" title="Favorilerden cikar" style="float:right"
                                            data-ng-click="vm.deleteCompanyById(favored._id)">
                                        X
                                    </button>

                                </div>
                                <ul class="list-group">
                                    <a class="list-group-item fa fa-map-marker">{{favored.city}}</a>
                                    <a class="list-group-item fa-info-sign">{{favored.sector}}</a>
                                    <a style="background-color:#8bc86e"
                                       href="mailto:{{favored.email}}?Subject=Staj Basvurusu" target="_top"
                                       class="list-group-item ">Mail Gonder</a>

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <form class="navbar-form">
                    <div id="custom-search-input">
                        <div class="input-group">
                            <input type="text" class="form-control input-lg" ng-model="vm.search.q"
                                   placeholder="Şirket ismi,Sektör,Konum..."/>
                    <span class="input-group-btn">
                        <button class="btn btn-primary btn-lg btn-search" value="Ara"
                                data-ng-click="vm.getSearchedCompany(vm.search.q,0)" type="submit">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                    </span>
                        </div>
                    </div>
                </form>

                <h5 class="text-center" ng-if="vm.allCompany.length===0">Üzgünüm,
                    Tüm Aramalarıma Rağmen Belirttiğiniz
                    Kriterlerde Sonuç Bulamadım.</h5>

                <div class="badge" ng-if="!vm.allCompany.length==0" style="float: left;">
                    <span class="badge">    Toplam {{vm.totalCompany}} sonuc bulundu.</span>
                </div>
                <div class="col-md-8" ng-repeat="companyDetails in vm.allCompany"
                     style="  /* -webkit-border-radius: 2px; */
  -moz-border-radius: 10px;
  /* border-radius: 2px; */
  /* min-height: 200px; */
  /* background: #FFF; */
  /* box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2); */
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.4);
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;float: right">


                    <div class=" col-md-2 service-image-left">

                        <img id="item-display" style="margin-top: 8px;margin-left:-25px" height="120" width="120"
                             src="{{companyDetails.imgUrl}}"
                             alt="">


                    </div>

                    <div class="col-md-8">
                        <div class="product-title" style="margin-top: 8px">{{companyDetails.name}}</div>

                        <div class="btn-group cart">
                            <button type="button" data-ng-click="vm.addSelectedCompany(companyDetails._id)"
                                    class="btn btn-success">
                                Favori Listene Ekle
                            </button>
                        </div>
                        <hr>
                        <div class="glyphicon glyphicon-info-sign">{{companyDetails.sector}}</div>
                        <hr>

                        <span class=".col-md-2">
                        <div class="glyphicon glyphicon-envelope">{{companyDetails.email}}</div>
                        </span>

                        <span class=".col-md-2">
                        <div class="fa fa-map-marker">{{companyDetails.city}}</div>
                            </span>

                        <div class="fa fa-clock-o">{{companyDetails.created}}</div>


                        <span class=".col-md-2">

                        <div class="btn-group wishlist" ng-if>
                            <button type="button" class="btn btn-danger">
                                Listeden Sil
                            </button>
                        </div>

                        </span>
                        <hr>
                    </div>

                    <div class="container-fluid" style="margin-bottom: 25px">
                        <div class="col-md-12 ">
                            <tabs>

                                <pane title="Sirket Bilgisi">
                                    <div style="  border: 1px solid #DDD;">
                                        {{companyDetails.information}}

                                    </div>

                                </pane>

                                <pane title="Konum">
                                    <div style="  border: 1px solid #DDD;">

                                        <div>{{companyDetails.address}}</div>
                                    </div>
                                </pane>
                            </tabs>
                        </div>
                        <a class="btn btn-warning " target="_blank" role="button"
                           style="margin-top: 20px;color: #fff; width:50%"
                           ng-href="{{companyDetails.websiteUrl}}">Ilana Basvur
                        </a>
                    </div>


                </div>
            </div>
            <div class="clearfix" ng-if="vm.paginationFilter==='allCompany'">
                <ul class="pagination-sm pagination" style="float:right;margin-bottom:50px">
                    <li><a>&laquo;</a></li>
                    <li ng-repeat="count in vm.allButtonCount">
                        <a href="" class="active" scroll-to="container-fluid"
                           data-ng-click="vm.getCompanyPagination(count)">{{count+1}}</a></li>
                    <li><a>&raquo;</a></li>

                </ul>

            </div>

            <div class="clearfix" ng-if="vm.paginationFilter==='filteredCompany'">
                <ul class="pagination-sm pagination" style="float:right;margin-bottom:50px;">
                    <li><a>&laquo;</a></li>
                    <li ng-repeat="count in vm.allButtonCountFiltered">
                        <a href="" class="active" scroll-to="container-fluid"
                           data-ng-click="vm.getFilteredCompany(count,vm.selectedItemCityList.name,vm.selectedItemSectorList.name)">{{count+1}}</a>
                    </li>
                    <li><a>&raquo;</a></li>
                </ul>

            </div>


            <div class="clearfix" ng-if="vm.paginationFilter==='searchedCompany'">
                <ul class="pagination-sm pagination" style="float:right;margin-bottom:50px;">
                    <li><a>&laquo;</a></li>
                    <li ng-repeat="count in vm.allButtonCountSearched">
                        <a href="" class="active" scroll-to="container-fluid"
                           data-ng-click="vm.getSearchedCompany(vm.search.q,count)">{{count+1}}</a>
                    </li>
                    <li><a>&raquo;</a></li>
                </ul>

            </div>


        </div>
    </div>


</div>



