<!--<div class="col-lg-10 col-lg-offset-1 static">-->

    <!--<br><br><br><h1 id="titleAbout">HAKKIMIZDA</h1><br>-->

    <!--<p>-->

        <!--<strong>Stajbul.io</strong> bilişim sektöründe kariyer hayatına yükselen bir çizgide yön vermek için kendisine uygun işi en kısa sürede bulmak isteyen, bilişim alanında uzman, yeni mezun veya stajyer ile bilişim alanında doğru adayı kolay ve hızlı bir şekilde bulmayı hedefleyen firmaları yenilikçi bir anlayış ile buluşturan kariyer sitesidir.-->
        <!--Alışılmışın dışında çok daha kolay kullanım sunan yapımız, hızlı iş ve aday bulmak üzere tasarlanmış işleyişimiz ile sonuç odaklı bir çerçevede hizmet sunmaktayız.-->
        <!--<br><br>Genç, dinamik ve yenilikçi bir teknoloji firmasıyız. Bilişimde kariyer sektörüne yenilikler getirmeyi hedeflemekteyiz. Bu bağlamda takip et ve başvuru başına ödeme sistemi ile iş ve eleman arayan kişi veya kurumların bu arayışlarını en kolay ve en hızlı şekilde sonuçlandırabilmeleri için Kariro.com’u tasarladık.-->
        <!--<br><br>Bilişim alanında uzman, yeni mezun veya stajyer arayışındaki her sektörden her türlü büyüklükteki işverenin iş ilanı verip, tek bir kariyer sitesinden bilişim alanının her dalında deneyime veya eğitime sahip adayları bulabilmelerini sağlamak üzere sitemiz kurgulanmıştır.-->
        <!--<br><br>Bilişim alanında farklı uzmanlık dallarına sahip tüm iş arayanların, ( profesyonel, uzman, stajyer, dönemsel, deneyimli, deneyimsiz, öğrenci, vb.) istedikleri zaman dilimlerinde ( part-time, full- time, vb. ) iş bulabilmelerini sağlayacak bir yapıda hizmet sunmayı amaçladık.-->
        <!--<br><br>Bilişim ve teknoloji alanında kariyer sektörünün ilk ve tek kariyer sitesi olarak özellikle sektörün daha çabuk, daha rahat ve daha hızlı aday ve iş bulmaları felsefesinde , bilinen diğer tüm kariyer sitelerinden tamamen farklı bir yapı ve işleyiş ile yola çıktık.</p><br>-->

    <!--<h2>VİZYONUMUZ VE MİSYONUMUZ</h2><br>-->
    <!--<p><strong>Vizyonumuz:</strong> Bilişim ve teknoloji alanında İş arayan adaylar ile bilişim alanında uzman, yeni mezun veya stajyer arayan firmaların kolay ve kısa sürede doğru sonuca varmasına aracılık eden bilişim sektörünün en güvenilir ve en yenilikçi kariyer sitesi olmaktır.-->
        <!--<br><br><strong>Misyonumuz:</strong> Bilişimde kariyer sektöründe en yenilikçi fikirlere, uygulamalara ve işbirliklerine imza atarak, bilişim ve teknoloji alanında iş arayan adayların kariyer arayışlarında; bilişim ve teknoloji alanında uzman, yeni mezun veya stajyer arayan firmaların ise personel arayışlarında en üst düzeyde memnuniyet duyacakları bilişim sektörünün tek kariyer sitesi olmaktır.</p><br>-->


    <!--<h2>DEĞERLERİMİZ</h2><br>-->
    <!--<p>-->
        <!--Kariro.com ailesi olarak aşağıdaki değerler önceliğimizdir;<br><br>-->
        <!--<strong>Bilişim ve Teknoloji:</strong> Kariro.com bilişim ve teknolojiyi yakından takip eder, yenilikler üretir ve sektöre değer katmayı amaçlar.-->
        <!--<br><br><strong>Yapı:</strong> İş arayan adayların kendilerine en uygun işi, iş verenler içinse aradıkları pozisyona en uygun adayı kolayca bulmaları için site tasarımını ve yapısını buna göre düzenlemiştir.-->
        <!--<br><br><strong>İnsana Saygı:</strong> Kariro.com ırka, cinsiyete, dine, politik görüşe, sosyal statüye, yaşa ve diğer karakteristik özelliklere bakmaksızın her insan için eşitliğe ve onura saygı duyar.-->
        <!--<br><br><strong>Güven:</strong> Kariro.com hizmet verdiği tüm kurum ve kuruluşlarla olan iş ilişkilerini karşılıklı güven ve saygıya dayalı bir biçimde sürdürmeye özen gösterir.-->
        <!--<br><br><strong>Etik:</strong> Kariro.com tüm iş arayan aday ve eleman arayan işverenler ile ilişkilerinde dürüst, saygılı davranmayı ve etik ilkelere sonuna kadar bağlı kalmayı taahhüt eder.-->
        <!--<br><br><strong>Sosyal Sorumluluklar:</strong> İş arayan adaylar ve firmalar için eğitimler, organizasyonlar ve etkinlikler düzenler, sektöre katma değer katar. Engelli bireyler için ise ayrıca kariyer etkinlikleri düzenler.-->
        <!--<br><br><strong>İnsana ve Çevreye Verdiğimiz Değer:</strong> Kariro.com insana ve çevreye duyarlıdır. İnsana değer verirken bu bilinci çevre için de eşdeğer tutar.-->
        <!--<br><br><strong>Çevresel Sürdürülebilirlik:</strong> Kariro.com ailesi işlerini yürütürken çevreye yaptığı etkiyi azaltmak için düşük maliyetli - enerji tasarrufu sağlayan aydınlatma ürünleri kullanır. Çevreye zarar vermez, herhangi bir kimyasal kullanmaz ve herhangi bir çevreye zarar verecek atık yapmaz. Genel atıklarını kapalı çöp torbalarında muhafaza eder. Ayrıca şirketimiz karton kutu, ofis gereçleri, ambalaj kâğıdı gibi sarf malzemelerinin geri dönüşümüne destek vermeye çalışmaktadır.</p><br><br><br>-->

<!--</div>-->



<!--<div class="col-lg-10 col-lg-offset-1 static">-->

    <!--<div class="col-lg-10 top30 col-lg-offset-1">-->

        <!--<br><h1 class="bottom30">İLETİŞİM</h1><br>-->

        <!--&lt;!&ndash; COMPANY ADDRESS&ndash;&gt;-->
        <!--<div class="col-md-4 company-details text-center">-->
            <!--<div class="icon-top red-text">-->
                <!--<i class="icon-fontawesome-webfont-302"></i> Adres-->
            <!--</div>-->
            <!--Cumhuriyet Mah. Cumhuriyet Cad. No:7/37 Beylikdüzü Esenyurt/İstanbul, Türkiye-->
        <!--</div>-->

        <!--&lt;!&ndash; COMPANY EMAIL&ndash;&gt;-->
        <!--<div class="col-md-4 company-details text-center">-->
            <!--<div class="icon-top green-text">-->
                <!--<i class="icon-fontawesome-webfont-329"></i> E-Mail-->
            <!--</div>-->
            <!--<a href="https://mail.google.com/mail/?view=cm&amp;fs=1&amp;tf=1&amp;to=info@kariro.com" target="_blank">info@kariro.com<script cf-hash="f9e31" type="text/javascript">-->
                <!--/* <![CDATA[ */!function(){try{var t="currentScript"in document?document.currentScript:function(){for(var t=document.getElementsByTagName("script"),e=t.length;e&#45;&#45;;)if(t[e].getAttribute("cf-hash"))return t[e]}();if(t&&t.previousSibling){var e,r,n,i,c=t.previousSibling,a=c.getAttribute("data-cfemail");if(a){for(e="",r=parseInt(a.substr(0,2),16),n=2;a.length-n;n+=2)i=parseInt(a.substr(n,2),16)^r,e+=String.fromCharCode(i);e=document.createTextNode(e),c.parentNode.replaceChild(e,c)}}}catch(u){}}();/* ]]> */</script></a>-->
        <!--</div>-->

        <!--&lt;!&ndash; COMPANY PHONE NUMBER &ndash;&gt;-->
        <!--<div class="col-md-4 company-details text-center">-->
            <!--<div class="icon-top blue-text">-->
                <!--<i class="icon-fontawesome-webfont-101"></i> Telefon-->
            <!--</div>-->

        <!--</div>-->
    <!--</div>-->
    <!--<div class="col-lg-10 col-lg-offset-1 top30 bottom50">-->
        <!--<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12041.671888150095!2d28.647271684738193!3d41.01611073712134!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zNDHCsDAxJzAyLjciTiAyOMKwMzgnMzcuNyJF!5e0!3m2!1str!2s!4v1431605016622" width="100%" height="450" frameborder="0" style="border:0"></iframe>-->
    <!--</div>-->
<!--</div>-->



<div class="container" style="margin-top: 80px;">

    <div id="loginbox" class="mainbox col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3">



        <div class="panel panel-default" >
            <div class="panel-heading">
                <div class="panel-title text-center">Staj.io Admin Panel</div>
            </div>

            <div class="panel-body" >

                <form name="form" id="form" class="form-horizontal" >

                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input id="user" type="text" class="form-control" data-ng-model="vm.loginData.username"  required name="user" value="" placeholder="User">
                    </div>

                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                        <input id="password" type="password" class="form-control" data-ng-model="vm.loginData.password" name="password" placeholder="Password">
                    </div>

                    <div class="form-group">
                        <!-- Button -->
                        <div class="col-sm-12 controls">
                            <button type="submit" data-ng-click="vm.login()" class="btn btn-primary pull-right"><i class="glyphicon glyphicon-log-in"></i> Log in</button>
                        </div>
                    </div>

                </form>

            </div>

        </div>
    </div>
</div>
</div>



