<div class="content-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="page-head-line"></h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Kullanici Ekleme Formu
                    </div>
                    <div class="panel-body">
                        <form name="userForm" novalidate>

                            <div class="form-group">
                                <label for="InputUsername">Kullanici Adi</label>
                                <input type="text" class="form-control"
                                       name="username"
                                       data-ng-model="vm.signUpData.username"
                                       id="InputUsername"
                                       placeholder="Kullanici Ismi" required/>
                            </div>
                            <section class="error" style="color: #FF0000;"
                                     ng-show="userForm.username.$error.required">
                                Kullanici Adi Bos Olamaz !!!
                            </section>


                            <div class="form-group">
                                <label for="InputUserPassword">Paralo</label>
                                <input type="password" class="form-control"

                                       data-ng-model="vm.signUpData.password"
                                       name="password"
                                       id="InputUserPassword"
                                       placeholder="Parola" required/>
                            </div>

                            <section class="error" style="color: #FF0000;"
                                     ng-show="userForm.password.$error.required">
                                Sirket Sehri Bos Olamaz !!!
                            </section>
                            <div class="form-group">
                                <label for="Inputname">Adiniz</label>
                                <input type="text" class="form-control"

                                       data-ng-model="vm.signUpData.name"
                                       name="name"
                                       id="Inputname"
                                       placeholder="Adiniz" required/>
                            </div>

                            <section class="error" style="color: #FF0000;"
                                     ng-show="userForm.name.$error.required">
                                Isim  Bos Olamaz !!!
                            </section>

                            <div class="form-group">
                                <label for="InputUserEmail">Email Adresi</label>
                                <input type="text" class="form-control"

                                       data-ng-model="vm.signUpData.email"
                                       name="email"
                                       id="InputUserEmail"
                                       placeholder="Email Adresi..." required/>
                            </div>

                            <section class="error" style="color: #FF0000;"
                                     ng-show="userForm.email.$error.required">

                                Email Bos Olamaz !!!
                            </section>


                            <div class="form-group">
                                <input type="button" value="Secimi Gonder"
                                       ng-disabled="userForm.$invalid"
                                       ng-click="vm.signUp()"
                                       class="btn btn-success">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>