


<footer class="footer-distributed">

    <div class="footer-left">

        <h3>Staj<span>io</span></h3>

        <p class="footer-links">
            <a href="#/home" scroll-to="titleAbout">Anasayfa</a>

            <!--<a href="#/login" scroll-to="titleAbout">Hakkimizda</a>-->

        </p>

        <p class="footer-company-name">StajBul.io &copy; 2015</p>

        <div class="footer-icons">

            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-github"></i></a>

        </div>

    </div>

    <div class="footer-right">

        <p>Bize Ulasin</p>

        <form action="#" method="post">

            <input type="text" name="email" placeholder="Mail" />
            <textarea name="message" placeholder="Mesaj"></textarea>
            <input type="button" class=" btn-success" onclick="alert('mesaj yollandi')" value="Yolla">

        </form>

    </div>

</footer>


<div class="navbar navbar-default navbar-fixed-bottom" style="background-color: #3c3c3c">
    <div class="container">
        <p class="navbar-text pull-left">
            <a href="http://tinyurl.com/tbvalid" target="_blank" ></a>
        </p>

        <a href="http://youtu.be/zJahlKPCL9g" class="navbar-btn btn-danger btn pull-left">
            <span class="glyphicon glyphicon-star"></span>  Twitter Sayfamizi Begen</a>
    </div>
</div>