<div class="col-md-12" style="background-color:#f05f40" ng-controller="LoginCtrl as vm">

    <div class="navbar-header page-scroll ">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <a class="btn btn-transp navbar-btn btn-sm" href="">Firma Girişi</a>
            <a class="btn btn-transp navbar-btn" data-toggle="modal" id="showLogin2" href="#">Giriş</a>
            <a class="btn btn-transp navbar-btn" data-toggle="modal" id="showSignUp2" href="#">Kayıt Ol</a>
            <a class="btn btn-transp navbar-btn" ng-if="!vm.isAuthed()" data-toggle="modal" id="showSignUp3" href="#">Logout</a>
        </button>

        <a class="navbar-brand" href="#/company"><img style="vertical-align:middle;">Staj.io</a>

    </div>


    <div class="modalist">

        <div class="collapse navbar-collapse navbar-ex1-collapse navbar-right" ng-controller="LoginCtrl as vm">


            <div data-ng-if="vm.isAuthed()" class="glyphicon glyphicon-user btn btn-transp  navbar-btn dropdown">
                <a href="" data-toggle="modal" class="dropdown-toggle">Profil <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="#">Favorilerim</a></li>
                </ul>
            </div>

            <a class=" glyphicon glyphicon-log-in btn btn-transp   navbar-btn" data-ng-if="vm.isAuthed()"
               data-ng-click="vm.logout()"
               data-toggle="modal" id="show-logout"
               href="#">Cikis</a>


            <a class=" glyphicon glyphicon-log-in btn btn-transp  navbar-btn" data-ng-if="!vm.isAuthed()"
               data-toggle="modal" id="showLogin"
               href="#/login">Giriş</a>

            <a class=" glyphicon glyphicon-plus btn btn-transp navbar-btn " data-ng-if="!vm.isAuthed()"
               data-toggle="modal" id="showSignUp"
               href="#/adduser">UyeOl</a>

        </div>
        <div class="col-lg-6">

        </div>
    </div>

</div>



